<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card" data-AOS="zoom-in">
        <img src="https://media.istockphoto.com/id/542304252/photo/plants-in-rows.jpg?s=1024x1024&w=is&k=20&c=4skBRl4jcZShJOeVXCxYOxcwC_anxDYpSj1Pe7BAOUQ=" alt="">
        <h1>Plants</h1>
        <button class="btn but"(click)="onclick()">
          Explore Now
        </button>
      </div>
    </div>
    <div class="col">
      <div class="card" data-AOS="zoom-in">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7HMot-vQ78x7j2G3LC6gzzeMuNf5W3DRayw&s" alt="">
        <h1>Seeds</h1>
        <button class="btn but"(click)="onclick1()">
          Explore Now
        </button>
      </div>
    </div>
    <div class="col">
      <div class="card" data-AOS="zoom-in">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNAR3fCZ3Z91lFO-_WO7pCXatZSZmv6KstqA&s" alt="">
        <h1>Fertilizers</h1>
        <button class="btn but"(click)="onclick2()">
          Explore Now
        </button>
      </div>
    </div>
  </div>