.row{
    margin:5% 30px;
}
img{
    height: 400px;
}
.card{
    margin: 0 10px;
    border: none;
    box-shadow: 0.5px 0.5px 5px #a1a1a1;
    text-align: center;
}
.but{
    background-color:rgb(252, 106, 130) !important;
    max-width: 50%;
    margin:0 25% 1% 25%;
    text-transform: uppercase;
}