<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" (click)="onclick()">
        <img src="https://i.pinimg.com/1200x/03/31/a3/0331a3ddb8c5e744b2ec005c23ea9cbc.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption">
                <h1>Agriculture</h1>
                <p>Agriculture is the practice of cultivating crops and raising livestock, providing the food necessary to sustain human populations</p>
                <button type="button" class="btn btn-warning">Learn More</button>
            </div>
        </div>
        <div class="carousel-item" (click)="onclick()">
          <img src="https://i.pinimg.com/1200x/bc/27/31/bc27313ae21e6f1fec93f36315c55cac.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption">
              <h1>Aquaculture</h1>
              <p>Aquaculture is the practice of cultivating aquatic organisms like fish, shellfish, and plants in controlled environments, essentially "farming in water" to produce food for human consumption</p>
                <button type="button" class="btn btn-warning">Learn More</button>
            </div>
        </div>
        <div class="carousel-item"(click)="onclick()">
          <img src="https://www.topteen.in/media/upload/career/media/None/istockphoto-531311994-612x612.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption">
              <h1>Apiculture</h1>
              <p>Apiculture, also known as beekeeping, is the practice of raising honeybee colonies to produce valuable products like honey and beeswax, while also contributing to pollination in the environment. </p>
                <button type="button" class="btn btn-warning">Learn More</button>
            </div>
        </div>
        <div class="carousel-item"(click)="onclick()">
          <img src="https://images.unsplash.com/photo-1567513068697-fca8c2af4528?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="...">
            <div class="carousel-caption">
              <h1>Dairy Farming</h1>
              <p>Dairy farming is the practice of raising livestock like cows and goats primarily to produce milk, which is then processed into various dairy products like cheese, yogurt, and butter.</p>
                <button type="button" class="btn btn-warning">Learn More</button>
            </div>
        </div>
        <div class="carousel-item"(click)="onclick()">
          <img src="https://cdn.create.vista.com/api/media/medium/193163614/stock-photo-colorful-silk-thread-silkworm-cocoons-nests?token=" class="d-block w-100" alt="...">
            <div class="carousel-caption">
              <h1>Sericulture</h1>
              <p>Sericulture is the process of raising silkworms to produce silk. It's an agro-based cottage industry that involves cultivating food plants, rearing silkworms, and reeling cocoons. </p>
                <button type="button" class="btn btn-warning">Learn More</button>
            </div>
        </div>
        <div class="carousel-item"(click)="onclick()">
          <img src="https://www.poultryworld.net/app/uploads/2024/06/Untitled-design-8-1-848x565.jpeg" class="d-block w-100" alt="...">
            <div class="carousel-caption">
              <h1>Poultry Farming</h1>
              <p>Poultry farming is the practice of raising domesticated birds for food, such as eggs and meat. It involves providing the birds with food, water, shelter, and a safe environment. </p>
                <button type="button" class="btn btn-warning">Learn More</button>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
  </div>