.signup-container{
  background-image: url('https://img.freepik.com/free-photo/sunny-meadow-landscape_1112-134.jpg?t=st=1738934473~exp=1738938073~hmac=f384edb897a61858be0412b90765c30aa89dac415c75d046217f6954d4bcd9cf&w=826');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    padding: 1% 0;
}
.signup {
  color: darkgreen;
  font-weight: 600;
    background-color:rgb(211, 223, 211);
    max-width: 400px ;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid darkgreen;
    border-radius: 5px;
    box-shadow: 5px 5px 10px darkgreen;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    color:darkgreen;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 2px solid darkgreen;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: rgb(148, 143, 143);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }