<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
      <div class="carousel-item active">
      <img src="https://i.pinimg.com/1200x/03/31/a3/0331a3ddb8c5e744b2ec005c23ea9cbc.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption">
              <h1>Agriculture</h1>
              <p>Want to know more about Agriculture</p>
              <button type="button" class="btn btn-warning" (click)="onclick()">Signup</button>
          </div>
      </div>
      <div class="carousel-item">
        <img src="https://i.pinimg.com/1200x/bc/27/31/bc27313ae21e6f1fec93f36315c55cac.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption">
            <h1>Aquaculture</h1>
            <p>Want to know more about Agriculture</p>
              <button type="button" class="btn btn-warning" (click)="onclick()">Sign Up</button>
          </div>
      </div>
      <div class="carousel-item">
        <img src="https://www.topteen.in/media/upload/career/media/None/istockphoto-531311994-612x612.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption">
            <h1>Apiculture</h1>
            <p>Want to know more about Agriculture</p>
              <button type="button" class="btn btn-warning" (click)="onclick()">Sign Up</button>
          </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1567513068697-fca8c2af4528?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="...">
          <div class="carousel-caption">
            <h1>Dairy Farming</h1>
            <p>Want to know more about Agriculture</p>
              <button type="button" class="btn btn-warning" (click)="onclick()">Sign Up</button>
          </div>
      </div>
      <div class="carousel-item">
        <img src="https://cdn.create.vista.com/api/media/medium/193163614/stock-photo-colorful-silk-thread-silkworm-cocoons-nests?token=" class="d-block w-100" alt="...">
          <div class="carousel-caption">
            <h1>Sericulture</h1>
            <p>Want to know more about Agriculture</p>
              <button type="button" class="btn btn-warning" (click)="onclick()">Sign Up</button>
          </div>
      </div>
      <div class="carousel-item">
        <img src="https://www.poultryworld.net/app/uploads/2024/06/Untitled-design-8-1-848x565.jpeg" class="d-block w-100" alt="...">
          <div class="carousel-caption">
            <h1>Poultry Farming</h1>
            <p>Want to know more about Agriculture</p>
              <button type="button" class="btn btn-warning"(click)="onclick()">Sign Up</button>
          </div>
      </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </button>
</div>